:root {
  --alpha: #090a0a;
  --beta: #0a7ed2;
  --gamma: #01060b;
  --delta: #fffafa;
  --alert: #fd5959;
  --contrast: #e84188;
  --elements: #eae9e9f9;
  --light: rgba(255, 255, 255, 0.971);
  --skills: #e1e1e1cf;
  --dus: #0c7a74;
  --yert: #dbb59a;
  --luxo: #517457;
  --tagla: #b79a05;
  --chiboc: #3a5290;
  --sadxo: #dfd566;
  --bright: #6c8559;
  --rose: #8f0d61;
}
